
# .v4p backup files
*~.xml

# Dynamic plugins .dll
bin/
Max 8/isis.ts
Max 8/musicnet.ts
Max 8/nasa.ts
Max 8/oldsynths.ts
Max 8/sol_full.ts
Max 8/sol_ordinario_fast.ts
Max 8/vae_cities.ts
Max 8/VCTK.ts
Max 8/vintage.ts
Max 8/wheel.ts
Max 8/Packages/nn_tilde/help/wheel.ts
